doctype html
html(lang='en')
  head
    title SAS Service Portal - Checkin
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet" href="/templateStyle.css")
  body
    div#body
      div#container
        h2 #{message1}
        h4 #{message2}